

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-window {
    flex: 1;
    background-image: url("https://i.imgur.com/zYf7QZg.png");
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
}



/* Chat Empty State */
.chat-window-empty {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Chat Header */
.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    background: #f0f2f5;
    border-bottom: 1px solid #dcdcdc;
}

.chat-header-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.chat-header-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.chat-header-left h4 {
    margin: 0;
}

.chat-header-left span {
    font-size: 13px;
    color: #6c6c6c;
}

.chat-header-right i {
    font-size: 22px;
    margin-left: 25px;
    cursor: pointer;
    color: #54656f;
}

.chat-header img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Messages Area */
.messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* Chat Bubbles */
.message {
    max-width: 60%;
    padding: 10px 14px;
    border-radius: 8px;
    margin: 5px 10px;
    font-size: 15px;
    position: relative;
}

.message.sent {
    margin-left: auto;
    background: #dcf8c6;
}

.message.received {
    background: #ffffff;
}

/* Message ticks, time */
.message small {
    font-size: 11px;
    color: #999;
}


/* Message ticks, time */
.message small {
    font-size: 11px;
    color: #999;
}


/* Input Area */
.chat-input {
    padding: 9px 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    background: #f0f2f5;
    border-top: 1px solid #dcdcdc;
}

.chat-input input {
    flex: 1;
    padding: 12px 16px;
    border-radius: 25px;
    background: #ffffff;
    border: none;
    font-size: 15px;
}

.chat-input i {
    font-size: 22px;
    cursor: pointer;
    color: #54656f;
}


.chat-input button {
    margin-left: 10px;
    padding: 10px 18px;
    background: #00a884;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.chat-input button:hover {
    background: #008f73;
}


/* MOBILE VIEW */
@media (max-width: 768px) {

    /* Make chat occupy full screen */
    .chat-window {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }

    .chat-header img {
        width: 38px;
        height: 38px;
    }

    .chat-input {
        padding: 8px;
    }

    .chat-input button {
        padding: 8px 14px;
    }
}


